{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:prettier/recommended","plugin:@typescript-eslint/recommended"],
  "ignorePatterns": ["**/*.js","/.git","/.vscode","/src/node_modules/"],
  "rules": {
    "prefer-const": "warn"
  }
}
