{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:prettier/recommended","plugin:@typescript-eslint/recommended"],
  "ignorePatterns": ["**/*.js","/.git","/.vscode","./node_modules/*", "*.test.ts"],
  "rules": {
    "prefer-const": "warn"
  }
}
